.modal {
    background: #0009;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    z-index: 9;
    backdrop-filter: blur(2px);
    opacity: 0;

    animation: showModal .5s ease both;
}

@keyframes showModal {
    100% {
        opacity: 1;
    }
}

.modal__content {
    width: 400px;
    min-height: 400px;
    padding: 2rem;
    position: relative;
    background: #fdfdfd;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.modal__content-title {
    font-size: 32px;
    font-weight: 500;
    color: #333;
}

.modal__content form {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.modal__content form label {
    color: #777;
}

.modal__content form input {
    padding: .25rem;
    margin: 0 0 10px;
    font-size: 16px;
    border-radius: .25rem;
    border: 1px solid #0003;
    outline: none;
    color: #333;

    &:focus {
        border-color: #4fa74f;
    }
}

.modal__content form p {
    margin: 0 0 10px;
    color: #ff4747;
}


.modal__content-terms {
    display: flex;
    padding: 1rem 0 ;
    gap: .5rem;
    color: #444;
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-color: #0003;
}

.modal__content-game {
    width: 100%;
    display: flex;
    gap: .5rem;
    color: #333;
    font-weight: 500;
}

.modal__content-game img {
    width: 60px;
    box-shadow: 3px 3px 5px #0003;
}

.modal__content-game p:nth-last-child(1) {
    min-width: max-content;
    margin: 0 0 0 auto ;
}

.modal__content-price {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #555;
}

.modal__content-price h5 {
    font-size: 18px;
    color: #333;
}


.btn-main {
    background: #4fa74f;
    color: #fdfdfd;
    border: none;
    padding: .75rem;
    width: 100%;
    border-radius: .5rem;
    font-weight: 500;
    cursor: pointer;
    font-size: 16px;

    &:hover {
        filter: brightness(1.1);
    }
}

.btn-link {
    margin: auto 0 0 0;
    background: none;
    color: #4fa74f;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: .3s;

    &:hover {
        opacity: .7;
    }
}

.btn-close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #ff4747;
    font-size: 24px;
    border: none;
    background: none;
    transition: .3s;
    cursor: pointer;

    &:hover {
        color: #999;
    }
}

/* MB <= 767 - TB <= 1023 - */
@media screen and (max-width: 767px) {
    .modal__content {
        width: 90%;
    }
}