.searchBar {
    width: 50%;
    min-width: 250px;
    margin: 0 auto 40px;
    display: flex;
    gap: .75rem;
    align-items: center;
    padding: .5rem;
    background: #111;
    border-radius: .5rem;
    color: #eee;
    position: relative;
}

.searchBar input {
    width: 100%;
    background: none;
    color: #eee;
    border: none;
    outline: none;
    font-size: 20px;
}

.searchBar__list {
    width: 50%;
    min-width: 250px;
    max-height: 200px;
    padding: 1rem;
    position: absolute;
    top: 110%;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    background: #111c;
    backdrop-filter: blur(15px);
    border-radius: .5rem;
    box-shadow: 3px 3px 5px #0003;
    overflow: auto;
    z-index: 10;

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-track {
        background: #333;
        border-radius: 1rem;
    }

    &::-webkit-scrollbar-thumb {
        background: #17b346;
        border-radius: 1rem;
    }
}

.searchBar__item {
    padding: .25rem;
    height: 80px;
    min-height: 80px;
    display: flex;
    gap: 1rem;
    text-transform: capitalize;
    border-radius: .25rem;
    overflow: hidden;
    cursor: pointer;

    &:hover {
        background: #444;
    }
}

.searchBar__item img {
    width: 75px;
    min-width: 75px;
    max-height: 100%;
}

.searchBar__item p {
color: #777;
font-size: 14px;
}

/* MB <= 767 - TB <= 1023 - */
@media screen and (max-width: 767px) {
    .searchBar {
        margin-top: 40px ;
    }
}