.loading {
    width: max-content;
    margin: 30px auto ;
    color: #08c933;
    animation: loading 1.2s linear infinite;
    font-size: 48px;
}

@keyframes loading {
    100% {
        transform: rotate(360deg);
    }
}