.sideBar {
    width: 280px;
    height: 100vh;
    padding: .5rem;
    position: fixed;
    left: 0;
    top: 0;
    background: #121216;
    display: flex;
    flex-direction: column;
    transition: .3s;
    z-index: 8;
}

.sideBar .header {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 0 0 10px;
    cursor: pointer;
    transition: .3s;

    &:hover {
        opacity: .5;
    }
}

.sideBar .header img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.sideBar .header__data p {
    color: #eee;
    font-weight: 700;
}

.sideBar .header__data span {
    color: #333;
    background: #eee;
    padding: 0 .25rem;
    font-size: 14px;
}

.sidebar__list {
    display: flex;
    gap: 10px;
    flex-direction: column;
    list-style: none;
}

.sideBar__list a {
    padding: 1rem;
    display: flex;
    gap: 15px;
    align-items: center;
    color: #eee;
    font-weight: 500;
    text-decoration: none;
    border-radius: .5rem;
    cursor: pointer;
    transition: .3s;

    &:hover {
        background: #333;
    }
}

.sideBar__btn-logout {
    padding: 1rem;
    background: none;
    border: none;
    margin: auto 0 0 0;
    font-size: 20px;
    display: flex;
    gap: .5rem;
    align-items: baseline;
    justify-content: center;
    color: rgb(231, 38, 38);
    cursor: pointer;
    transition: .3s;

    &:hover {
        opacity: .6;
    }
}

.sideBar__btnShow {
    width: 40px;
    height: 40px;
    position: fixed;
    left: 1%;
    top: 50%;
    transform: translate(0, -50%);
    display: none;
    place-items: center;
    background: #fdfdfd;
    color: #121216;
    border-radius: 50%;
    box-shadow: 3px 3px 5px #0003;
    cursor: pointer;
    transition: .3s;

    &:hover {}
}

.sideBar__backdrop {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #0005;
    backdrop-filter: blur(1px);
    z-index: -1;
}

/* MB <= 767 - TB <= 1023 - */
@media screen and (max-width: 767px) {
    .sideBar {
        left: -280px;
    }

    .sideBar__btnShow {
        display: grid;
    }
}