.game__card {
    width: 200px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    border-radius: .4rem;
    list-style: none;
    overflow: hidden;
    cursor: pointer;

    &:hover .game__card-data {
        background: #444549;
    }

    &:hover img {
        filter: brightness(.7);
    }
}

.game__card.typeList {
    min-width: 100%;
    flex-direction: row;

}

.game__card.typeList img {
    width: 50px;
}

.game__card.typeList .game__card-data {
    width: 100%;
    background: #232327;
    height: auto;
    min-height: 80px;
    overflow: hidden;
}

.game__card.typeList .game__card-data p {
    font-size: 20px;
}

.game__card img {
    width: 100%;
    aspect-ratio: 4/5;
    transition: .3s;
    object-fit: cover;
}

.game__card-data {
    height: 80px;
    padding: .5rem;
    position: relative;
    background: #2c2d31;
    transition: .3s;
}

.game__card-data p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #eee;
    font-weight: 500;
}

.game__card__data-priceCut {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #aaa;
    font-size: 14px;
}

.game__card-data .priceCut {
    text-decoration: line-through;
    color: #aaa;
}

.game__card__data-price {
    display: block;
    color: #5ab45a;
    font-weight: normal;
    font-size: 16px;
}

.game__card-data button {
    padding: .25rem ;
    position: absolute;
    right: 1rem;
    top: 45px;
    background: none;
    color: #e64c4c;
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    transition: .3s;

    &:hover {
        color: #444;
    }
}


/* MB <= 767 - TB <= 1023 - */
@media screen and (max-width: 767px) {
    .game__card {
        width: 150px;
        min-width: 150px;
    }

    .game__card img {
        width: 100%;
        aspect-ratio: 4/5;
        transition: .3s;
    }
}