.categoryList {
    margin: 0 0 60px;
}

.categoryList__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.categoryList__groupBtn-slider {
    display: flex;
    gap: .25rem;
}

.categoryList__groupBtn-slider button {
    padding: .5rem .75rem;
    background: #27272b;
    border: none;
    border-radius: .5rem;
    color: #eee;
    cursor: pointer;

    &:hover {
        filter: brightness(1.5);
    }

}

.categoryList__title {
    color: #fdfdfd;
    font-size: 24px;
    font-weight: 700;
    
}

.categoryList__list {
    display: flex;
    gap: 20px;
    overflow: hidden;

}